<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="categoryandItem">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <!-- Category -->
          <h2>Category</h2>

          <div class="panel-group category-products" id="accordian" th:fragment="category">
            <div class="panel panel-default" th:each="category, idx : ${rootCategory.subCategories}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordian" th:href="'#' + ${category.name}">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    <p th:text="${category.name}"></p>
                  </a>
                </h4>
              </div>
              <!-- level2-->
              <div th:id="${category.name}" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li th:each="level2, lv2Idx : ${rootCategory.subCategories.get(idx.index).subCategories}">
                      <a th:href="'#' + ${level2.name}" th:data-toggle="collapse" th:data-parent="'#' + ${category.name}">
                        <span th:text="${level2.name}"></span>
                      </a>
                      <!-- level3-->
                      <div th:id="${level2.name}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <ul>
                            <form action="/catalog"></form>
                            <li th:each="lv3 : ${rootCategory.subCategories.get(idx.index).subCategories.get(lv2Idx.index).subCategories}">
                              <a th:href="@{/catalog(id=${lv3.id})}">
                                <span th:text="${lv3.name}"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- level3-->
                    </li>
                  </ul>
                </div>
              </div>
              <!-- level2-->
            </div>
          </div>
          <!-- Category -->

          <!--price-range-->

          <div class="price-range">
            <h2>Price Range</h2>
            <div class="well text-center">
              <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
              <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
          </div>

          <!--/price-range-->
        </div>
      </div>


      <div class="col-sm-9 padding-right">
        <!--features_items-->
        <div class="features_items">
          <h2 class="title text-center">Items</h2>
          <div class="col-sm-4" th:each="items, idx : ${items.getContent()}">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img th:src="'images/home/' + ${items.imagePath}" alt="" />
                  <a th:href="@{/itemDetail(id=${items.id})}">
                    <h2 th:text="${items.name}"></h2>
                  </a>
                  <p th:text="${#numbers.formatInteger(items.price, 3, 'COMMA')} + '원'"></p>
                  <a th:href="@{/itemDetail(id=${items.id})}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>상세보기</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-area" style="text-align : center;">
          <ul class="pagination"
              th:with="start=${(pages.number/maxPage)*maxPage + 1},
                 					 end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})">

            <li th:if="${start > 1}">
              <a th:href="@{/catalog?(page=${start - (maxPage+1)})}">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, end)}">
              <a th:href="@{/catalog?(page=${page-1})}" th:text="${page}" th:classappend="${page} == ${nowPage} ? 'active' : ''"></a></li>
            </li>

            <li th:if="${end < pages.totalPages}">
              <a th:href="@{/catalog?(page=${start + maxPage})}">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>

          </ul>
        </div>
        <!--features_items-->
      </div>
    </div>
  </div>
</section>
</body>
</html>